/* Write your CSS here */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cbd5e1;
  width: 100%;
}
.footer-heading {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #475569;
}
